<!-- if debug set to true, context info always print otherwise the contex info will print when error occour -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<property name="LOG_HOME" value="${CATALINA_BASE}/logs" />
	
	<!-- 这个文件主要用于调试用，启用本文件的方式是配置系统属性，eg: -Dlogback.configurationFile=logback-debug.xml   -->

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} %-5level %logger{80} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org" level="DEBUG">
	</logger>
	<logger name="com.krspace" level="DEBUG">
	</logger>
	<logger name="org.apache.zookeeper.ClientCnxn" level="INFO" additivity="false">
	</logger>
	<logger name="org.springframework.amqp.rabbit.listener.BlockingQueueConsumer" level="INFO">
	</logger>

	<root level="info">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
